<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>header}}
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 max-auto">
            <div class="row">
                <!--Right side div-->
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/khizar.jpg" alt="khizar" title="khizar" class="img-fluid">
                    </figure>
                  </div>
                <!--Left side div-->
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to wether app</p>
                    <h1>Developer with <span class="text_color"> mern, </span> {{skilllist}} skills </h1>
                    <a href="#" target="_blank"><button>About me</button></a>
                </div>
                
            </div>
        </div>
    </div>
</div>
{{>footer}}
</body>
</html>