<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>header}}
    <div class="container-fluid main_header wether_main_header">
    <div class="row">
        <div class="col-md-10 col-12 max-auto">
            <div class="main_content">
                <form class="temp_form">
                    <input type="text" id="CityName" placeholder="Enter city name" autocomplete="off">
                    <input type="submit" value="Search" id="submitBtn">
                </form>
            </div>
            <div class="tempInformation">
                <div class="top_layer">
                    <p id="day">Friday,</p>
                    <p id="today_date">21 January 2021</p>
                </div>
                <div class="main_layer">
                    <p id="city_name">City Name, Country Code</p>
                    <div class="middle_layer data_hide">
                        <p id="temp"><span>0</span><sup>o</sup>C</p>
                        <p id="temp_status"><i class="fas fa-cloud" aria-hidden="true"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}
<script src="main.js"></script>
</body>
</html>
